.deliberation {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
}

.deliberation-header {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #ffffff;
    border-bottom: 2px solid #94787a21;
    margin-bottom: 1.5vh;
    padding: 0.5vw;
}

.header-title {
    font-size: 1.25rem;
    font-weight: 600;
    color: #aa5571;
}

.header-sub-title {
    font-size: 0.85rem;
    font-style: italic;
    color: #a78b94;
}

.deliberation-body {
    flex: 6;
    display: flex;
    flex-direction: column;
}

.deliberation-link {
    text-decoration: none;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    color: #a78b94;
}

.active {
    color: #d67b14cb;
}